<h1> Ruby Local Bucketing Example </h1>

<h3> Variable: </h3>
<h5> bool-var: <% if @bool_var.value == true %> True <% else %> False <% end %></h5>
<h5> string-var: <%= @string_var.value %></h5>
<h5> integer-var: <%= @number_var.value %></h5>
<h5> json-var: <pre><%= JSON.pretty_generate(@json_var.value) %></pre></h5>
<h5> non-existent-var: <%= @non_existent_var.value %></h5>

<h3> All Variables: </h3>
<h5><pre><%= JSON.pretty_generate(@all_variables) %></pre></h5>
<h3> All Features: </h3>
<h5><pre><%= JSON.pretty_generate(@all_features) %></pre></h5>
